* {
    border-radius: 30px;
    text-align: center;
    font-family: Courier;
}

.container {
    background: orange;
    max-width: 800px;
    margin: 0 auto ;
    display: grid;
    grid-template-areas: 
    'header header header' 
    'menu content content'
    'footer footer footer' ;
}
.header {
    background: purple;
    height: 60px;
    grid-area: header;
}

/* .wapper {
    background: blue;
    flex-direction: row-reverse; sirve para intercambiar o rotar elementos
    display: flex;
} */

.menu {
    background: greenyellow;
    grid-area: menu;
}

.content {
    background: aqua;
    grid-area: content;
}

.footer {
    background: pink;
    clear: both; 
    grid-area: footer;
    /* clear:both; es para que deje de flotar el elemento */

}