* {
    border-radius: 30px;
    text-align: center;
    font-family: Courier;
}

.container {
    background: orange;
    max-width: 800px;
    margin: 0 auto ;
}
.header {
    background: purple;
    height: 60px;
}

.wapper {
    background: blue;
    /* flex-direction: row-reverse; */
    display: flex;
}

.menu {
    background: greenyellow;
    width: 30%;
}

.content {
    background: aqua;
    width: 70%;
}

.footer {
    background: pink;
    clear: both; 
    /* clear:both; es para que deje de flotar el elemento */

}